<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="godiwi" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="godiwi" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="godiwi" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="godiwi" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" ng-init="tt = {
        'verify': 'Compare stored disk-data with seal to detect changes',
        'seal': 'Generate a seal for one ore more directories to allow them to be verified later',
        'sealed-copy': 'Seal one or more directories and copy their contents to one or more destinations',

        'gob' : 'compressed binary seal format, which is temper-proof and highly efficient',
        'mhl' : 'human-readable XML format understood by mediahashlist.org, which will be inefficient for large amount of files',

        'error': 'shows only errors and result',
        'info' : 'shows errors, results and detailed progress information',

        'SYMLINK' : 'Ignore all symbolic links',
        'HIDDEN'  : 'Ignore all hidden files. Only files starting with a period are hidden',
        'SEALS'   : 'Ignore all godi seal files. They are matched by their default name',
        'VOLATILE': 'Ignore files which change a lot or are expendable',

        'spid': 'Amount of parallel streams per input device',
        'spod': 'Amount of parallel streams per output device',
    }
    ">
    <title>Godi Web</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
</head>

<body ng-controller="GodiController">
    <ul class="menu">
        <li><a href="#/view1">view1</a>
        </li>
        <li><a href="#/view2">view2</a>
        </li>
    </ul>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <div ng-view></div>

    <!-- COMMANDLINE -->
    <div ng-cloak id="commandline" ng-hide="isUpdating">
        <code>
        godi 
            <span ng-show="state.spid > 1" tooltip="{{tt['spid']}}">-spid {{state.spid}}</span>
            <span ng-show="state.verbosity != 'error'" 
                tooltip="{{tt[state.verbosity]}}">--verbosity={{state.verbosity}}</span>
            <span ng-hide="state.fep.length == 1 && state.fep[0] == 'VOLATILE'">--file-exclude-patterns={{state.fep.length == 0 ? '' : '"'}} <span
                                ng-repeat="fep in state.fep"
                                tooltip="{{tt[fep] || 'Ignore all files matching glob \'fep\''}}">{{fep}}{{$last ? '"' : ','}}</span>
            </span>
            <span tooltip="{{tt[state.mode]}}">{{state.mode}} </span>
            <span ng-show="state.mode != 'verify' && state.format != 'gob'" tooltip="{{tt[state.format]}}">--format={{state.format}}</span>
            <span ng-show="state.mode == 'sealed-copy' && state.spod > 1" tooltip="{{tt['spod']}}">-spod {{state.spod}}</span>
        </code>        
    </div>

    <!-- MODE SELECT -->
    <div ng-cloak id="mode-select" ng-hide="isUpdating">
        <h2>Operation</h2>
        <div class="btn-group">
            <label class="btn btn-primary" 
                ng-repeat="mode in default.modes" 
                ng-model="state.mode" 
                btn-radio="'{{mode}}'" 
                ng-disabled="stateReadOnly" 
                tooltip="{{tt[mode]}}">{{mode}}</label>
        </div>
    </div>

    <!-- FORMAT SELECT -->
    <div ng-cloak id="format-select" ng-hide="isUpdating || state.mode == 'verify'">
        <h2>Seal Format</h2>
        <div class="btn-group">
            <label class="btn btn-primary" 
                ng-repeat="format in default.formats" 
                ng-model="state.format" 
                btn-radio="'{{format}}'" 
                ng-disabled="stateReadOnly" 
                tooltip="{{tt[format]}}">{{format}}</label>
        </div>
    </div>

    <!-- VERBOSITY-SELECT -->
    <div ng-cloak id="verbosity-select" ng-hide="isUpdating">
        <h2>Verbosity</h2>
        <div class="btn-group">
            <label class="btn btn-primary" 
                ng-repeat="level in default.verbosities" 
                ng-model="state.verbosity" 
                btn-radio="'{{level}}'" 
                ng-disabled="stateReadOnly"
                tooltip="{{tt[level]}}">{{level}}</label>
        </div>
    </div>

    <!-- INPUT FILTERING -->
    <div ng-cloak id="input-filters" ng-hide="isUpdating" ng-controller="FilterController as fctrl">
        <h2>File Exclude Patterns</h2>
        <!-- list all default filters - unfortunately track by will run before ng-init, can't use filter there -->
        <span 
            ng-repeat="isSelected in fepDefaultSelections track by default.feps[$index]" 
            ng-init="filter=default.feps[$index]">
            <input 
                ng-disabled="stateReadOnly" 
                type="checkbox" 
                ng-model="isSelected" 
                ng-change="fctrl.onchange(filter, isSelected)" 
                tooltip="{{tt[filter]}}"/>
            {{filter|lowercase}}
        </span>
        <!-- display user filters -->
        <br>
        <span 
            ng-repeat="filter in state.fep track by $index"ng-show="fctrl.isNoDefault(filter)">
            <input 
                ng-disabled="stateReadOnly" 
                type="text" 
                ng-model="filter" 
                ng-blur="fctrl.replace($index, filter)" 
                ng-keypress="fctrl.keyHandler($event, $index, filter)" 
                required="1"
                tooltip="Ignore all files matching glob '{{filter}}'"/>
            <button ng-click="fctrl.onchange(filter, false)" ng-hide="stateReadOnly">X</button>
            <br>
        </span>
        <!-- New user filters form -->
        <br/>
        <form name="form" ng-hide="stateReadOnly">
            <input 
                type="text" 
                ng-model="filter" 
                name="filter" 
                required="1"
                unique-and-no-fep-default
                placeholder="enter glob like *.mov"/>
            <button ng-click="fctrl.onchange(filter, true);filter=''" ng-disabled="form.$invalid">add</button>
        </form>
    </div>

    <!-- STREAMS -->
    <div ng-cloak id="streams" ng-hide="isUpdating">
        <h2>Streams</h2>
        <span>
        Input Streams
        <input type="number"
           ng-model="state.spid"
           min="1"
           max="5"
           required="1"
           ng-disabled="stateReadOnly"
           tooltip="{{tt['spid']}}">
       </span>
        <span ng-show="state.mode == 'sealed-copy'">
        Output Streams
        <input type="number"
           ng-model="state.spod"
           min="1"
           max="5"
           required="1"
           ng-disabled="stateReadOnly"
           tooltip="{{tt['spod']}}">
       </span>
    </div>

    <!-- SOURCES/DESTINATIONS -->
    <div ng-cloak id="sources" ng-hide="isUpdating" ng-controller="LocationController as lctrl">
        <h2>Sources</h2>
        <input 
            type="text"
            ng-model="newSource"
            placeholder="source directory/file"
            typeahead="val for val in lctrl.listLocations($viewValue)"
            typeahead-loading="isLoadingLocations"
        >
        {{newSource}}
        <i ng-show="isLoadingLocations" class="glyphicon glyphicon-refresh"></i>
    </div>

    <br>
    <br>
    <br>
    <div>Angular seed app: v
        <span app-version></span>
        <br>{{state}}
        <br>{{default}}
    </div>

    <div ng-show="isUpdating">Fetching data - please wait.</div>
    <div ng-show="and(updateFailed, !stateReadOnly)">ERROR Putting data</div>
    <div ng-hide="stateReadOnly">WRITE MODE</div>

    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
<footer>
    FOOTER
</footer>

</html>
