<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="godiwi" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="godiwi" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="godiwi" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="godiwi" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Godi Web</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body ng-controller="GodiController">
    <ul class="menu">
        <li><a href="#/view1">view1</a>
        </li>
        <li><a href="#/view2">view2</a>
        </li>
    </ul>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <div ng-view></div>

    <!-- MODE SELECT -->
    <div id="mode-select" ng-hide="!default.modes">
        <h2>Operation</h2>
        <div class="btn-group">
            <label class="btn btn-primary" ng-repeat="mode in default.modes" ng-model="state.mode" btn-radio="'{{mode}}'" ng-disabled="stateReadOnly">{{mode}}</label>
        </div>
        <!-- <span ng-repeat="mode in default.modes"> {{mode}} {{state.mode}} </span> -->
    </div>

    <!-- VERBOSITY-SELECT -->
    <div id="verbosity-select" ng-hide="!default.verbosities">
        <h2>Verbosity</h2>
        <div class="btn-group">
            <label class="btn btn-primary" ng-repeat="level in default.verbosities" ng-model="state.verbosity" btn-radio="'{{level}}'" ng-disabled="stateReadOnly">{{level}}</label>
        </div>
    </div>

    <!-- INPUT FILTERING -->
    <div id="input-filters" ng-hide="!default.feps" ng-controller="FilterController as fctrl">
        <h2>File Exclude Patterns</h2>
        <!-- list all default filters - unfortunately track by will run before ng-init, can't use filter there -->
        <span ng-repeat="isSelected in fepDefaultSelections track by default.feps[$index]" ng-init="filter=default.feps[$index]">
            <input ng-disabled="stateReadOnly" type="checkbox" ng-model="isSelected" ng-change="fctrl.onchange(filter, isSelected)" />
            {{filter|lowercase}}
        </span>
        <!-- display user filters -->
        <br>
        <span ng-repeat="filter in state.fep track by $index" ng-show="fctrl.isNoDefault(filter)">
            <input ng-disabled="stateReadOnly" type="text" ng-model="filter" ng-blur="fctrl.replace($index, filter)" ng-keypress="fctrl.keyHandler($event, $index, filter)" required unique-and-no-fep-default/>
            <button ng-click="fctrl.onchange(filter, false)" ng-hide="stateReadOnly">X</button>
            <br>
        </span>
        <!-- New user filters form -->
        <br/>
        <form name="form" ng-hide="stateReadOnly">
            <input ng-hide="!default.feps" type="text" ng-model="filter" name="filter" required placeholder="enter filter like *.mov" unique-and-no-fep-default />
            <button ng-click="fctrl.onchange(filter, true);filter=''" ng-disabled="form.$invalid">add</button>
        </form>
    </div>

    <!-- STREAMS -->
    <div id="streams" ng-hide="isUpdating">
        <h2>Streams</h2>
        <slider
            ng-model="state.spid"
            floor="1"
            ceiling="4"
            precision="0"
            step="1"
            stretch="1"
            ng-disabled="stateReadOnly"></slider>
        <!-- <span>
        Output Streams
        <slider
            ng-model="state.spod"
            floor="1"
            ceiling="4"
            precision="0"
            ng-disabled="stateReadOnly"></slider>
        </span> -->
    </div>


    <br>
    <br>
    <br>
    <div>Angular seed app: v
        <span app-version></span>
        <br>{{state}}
        <br>{{default}}
    </div>

    <div ng-show="isUpdating">Fetching data - please wait.</div>
    <div ng-show="and(updateFailed, !stateReadOnly)">ERROR Putting data</div>
    <div ng-hide="stateReadOnly">WRITE MODE</div>

    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/venturocket-angular-slider/build/angular-slider.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
<footer>
    FOOTER
</footer>

</html>
