/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.panel-half {
  float: left;
  width: 50%;
  margin-top: 5px;
  padding-right: 10px;
}

.panel-big {
  float:left;
  width: 100%;
}

code {
  color: white;
  background: black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #658CAD
}

.btn-primary {
  background-color: #8EAFCC
}

h1 {
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

h2 {
  font-size: 20px;
  color: lightgrey;
  text-shadow: 1px 1px 2px #000000;
}

.inputbox { 
  padding: 0 5px 0 0;
  overflow: hidden; 
}
.inputbox input { 
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.output {
  margin-top: 5px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 4px 4px;
  max-height: 600px;
  font-size: 90%;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: auto;
  background-color: #585858;
  border-radius: 4px;
}

.wrapper {
  width: 720px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

